<!DOCTYPE html>
{% extends "base.html" %}
    {% block content%}
    <br>
    <div style = 'background: #eceeee; border: 1px solid #42464b; border-radius: 12px;height: 650px;width: 500px; position:center; margin: auto;'>
      <i style = "color:grey;"  onclick="goBack()" class="fas fa-angle-double-left fa-4x"></i>
      <div style = 'text-align: center';>
        <form method="post">
          <h4>Add info</h4>
          {% csrf_token %}
          {{form.name.label}}<br>
          {{form.name}}<br>
          {{form.description.label}}<br>
          {{form.description}}<br>
          {{form.amount.label}}<br>
          {{form.amount}}<br>
          <p>YYYY-MM-DD</p>
          {{form.birthdate.label}}<br>
          {{form.birthdate}}<br><br>
          <button type="submit">Add details</button>
        </form>
      </div>
    </div>
    {% endblock %}
